<launch>


    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.2" />
    
    <arg name="model" default="$(find bot_description)/urdf/bot_gazebo.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro  $(arg model)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description -urdf -model bot" />

</launch>